Datasets/final_tennis_dataset.csv
Datasets/final_tennis_dataset_symmetric.csv

# Datasets too huge (>100 MB)
Datasets/final_tennis_dataset.csv
Datasets/final_tennis_dataset_symmetric.csv
Datasets/final_tennis_dataset_symmetric.parquet
Datasets/*.parquet

# Exclude Python cache files
__pycache__/
*.pyc